<div class="modal">
    <ion-header-bar class="bar bar-header bar-dark">
        <h1 class="title">{{'readPrivacy' | translate}}</h1>
        <button class="button button-clear bar-dark" ng-click="closeModal()">{{'close' | translate}}</button>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            <div class="card">
                <div class="item item-text-wrap">
                Template text
                </div>
            </div>
        </div>
    </ion-content>
</div>