<ion-view>
    <ion-nav-buttons side="right" ng-init="centerTotaAlertListOnMyPosition()">
        <a ng-click="getListAllViewAlert()" class="button button-icon icon-left ion-navicon-round"></a>
    </ion-nav-buttons>
    <ion-content scroll="false">

        <div id="map-earth"></div>
        <a href="http://revevol.it/116-we-love-cloud.html" target="_blank">
            <img id="bannerRev" src="../img/revevol.png"/>
        </a>
        <input id="pac-input" class="controls" type="text" placeholder="{{'positionMapAgain' | translate}}">
    </ion-content>
</ion-view>